<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDw33ntbIeW7Nuj-uevWu-x_1eaJ2CRihU</string>
	<key>GCM_SENDER_ID</key>
	<string>692765118462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.walkerjanitorialandlandscapingservicesbookingapp</string>
	<key>PROJECT_ID</key>
	<string>walker-booking-service</string>
	<key>STORAGE_BUCKET</key>
	<string>walker-booking-service.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692765118462:ios:bb382e826818622b1bfaaf</string>
</dict>
</plist>